* { margin: 0; padding: 0;}

body { display: block; }

.game {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background-color: #d785fd;
	height: 50vh;
	border: 1px solid black;
	border-radius: 70px;
	margin-top: 50px;
}

h1 { font-size: 40px; font-weight: 300; font-style: italic; }

#choices{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	width: 50%;
	margin: 30px;
	height: 70px;
}

button {
	padding: 10px;
	width: 100px;
	text-align: center;
	font-size: 20px;
	border-radius: 20px;
	background-color: #424242;
	color: white;
}

button:hover {
	background-color: #353535;
}

.result {
	border-radius: 20px;
	padding: 10px;
	width: 70%
	height: 70px;
	font-size: 20px;
	font-weight: 500;
}

footer {
	text-align: center;
	line-height: 30px;
}

footer a {
	text-decoration: none;
}